alembic==1.13.2
Chroma==0.2.0
chromadb==0.5.0
Flask-SQLAlchemy==3.1.1
gTTS==2.5.4
huggingface-hub==0.24.7
langchain==0.3.13
langchain-chroma==0.1.4
langchain-community==0.0.34
langchain-core==0.3.28
langchain-huggingface==0.1.2
langchain-openai==0.1.7
langchain-postgres==0.0.12
langchain-text-splitters==0.3.4
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.2.6
matplotlib==3.9.2
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.17.3
openai==1.34.0
opencv-python==4.10.0.84
pandas==1.5.3
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg2==2.9.10
PyAudio==0.2.14
pycocotools==2.0.8
pydantic==2.9.2
PyPika==0.48.9
pytesseract==0.3.13
pydantic_core==2.23.4
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
sentencepiece==0.2.0
spacy==3.7.4
spacy-legacy==3.0.12
SQLAlchemy==2.0.34
streamlit==1.38.0
streamlit-aggrid==1.0.5
streamlit-webrtc==0.47.9
tensorflow==2.15.0
unstructured==0.16.11
streamlit_pdf_viewer
yt_dlp
speechrecognition 
transformers 
ffmpeg-python